/*
 * @Author Tofayel H Topu.
 * Imports
*/

@import './config/config'; // Base Variables

html {
    min-height: 100%;
}

body {
    color: #888ea8;
    height: 100%;
    font-size: 0.875rem;
    background: #f1f2f3;
    overflow-x: hidden;
    overflow-y: auto;
    letter-spacing: 0.0312rem;
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
}