/*
 * @Author Tofayel H Topu.
 * base colors variable
*/

// for dark or light mode
$white: #fff;
$black: #000;

// base colors
$primary: #4361ee;
$info: #2196f3;
$success: #1abc9c;
$warning: #e2a03f;
$danger: #e7515a;
$secondary: #805dca;
$dark: #3b3f5c;

$body-color: #060818;